body {
  background-image: url('https://wallpapercave.com/wp/Y3YitSZ.png');
}

img {
  height: 20%;
  width: 80%;
  margin: auto;
  display: block;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  margin-top: 10%;
  font-size: 2rem;
  color: #3365af;
  text-shadow: 4px 4px lightyellow;
  background: transparent;
  border: none;
  font-weight: bolder;
}
select:hover {
  cursor: pointer;
  color: lightyellow;
  text-shadow: 4px 4px #3365af;
}
